body {
    background-color: rgb(233, 247, 232);
    color: black;
}
#calc-outer {
    background-color: rgb(223, 253, 198);
    width: 50%;
    margin: auto;
    text-align: center;
    height: 500px;
}
#calc-inner {
    background-color: rgb(143, 196, 156);
    margin: auto;
    height: 400px;
    width: 70%;
}
#displayArea {
    width: 80%;
    margin: 20px;
    height: 50px;
}
.buttons {
    display: block;
}
button {
    display: inline;
    width: 20%;
    height: 50px;
    background-color: white;
}
button:hover {
    background-color: green;
}

@media screen and (max-width: 600px) {
    #calc-outer {
        width: 90%;
    }
    #calc-inner {
        width: 90%;
    }
}
