body {
    background-color: white;
    color: black;
}
#calc-outer {
    background-color: whitesmoke;
    width: 50%;
    margin: auto;
    text-align: center;
    height: 550px;
}
#license-info {
    padding: 20px;
}
h1 {
    padding-top: 30px;
    color: grey;
}

#calc-inner {
    background-color: #dddddd;
    margin: auto;
    height: 400px;
    width: 70%;
}
#displayArea {
    width: 80%;
    margin: 20px;
    height: 50px;
    font-size: 32px;
    font-family: sans-serif;
}
.buttons {
    display: block;
}
button {
    display: inline;
    width: 20%;
    height: 50px;
    background-color: white;
    font-size: 32px;
    color: grey;
}
button:hover {
    background-color: #c4c4c4;
    color: black;
}

button:disabled {
    color: #c4c4c4;
}

#clearBtn {
    color: #f46969;
}

@media screen and (max-width: 750px) {
    #calc-outer {
        width: 90%;
    }
    #calc-inner {
        width: 90%;
    }
}
